nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
  }
  
  nav ul li {
    float: left;
  }
  
  nav ul li a {
    display: block;
    color:#000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #3a9e8a;
    color: #fff;
  }